<% locations.each do |location| %>
  <tr class="border-t border-gray-200">
    <td><%= location.url %></td>
    <td><%= location.ip_address %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
  </tr>
<% end %>
