<table>
  <thead>
  <tr>
    <th>URL</th>
    <th>IP</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= location.url %></td>
    <td><%= location.ip_address %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
  </tr>
  </tbody>
</table>
