<%= turbo_stream.append 'locations_content_frame' do %>
  <% @locations.each do |location| %>
    <div class="row">
      <%= render partial: 'location_content', locals: { location: location } %>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.update "more" do %>
  <%= render "load_more_button" %>
<% end %>
