<%= turbo_stream.replace 'locations' do %>
  <%= render partial: 'locations_table', locals: { locations: @locations } %>
  <div class="pagination">
    <%= will_paginate @locations, renderer: RemoteLinkPaginationHelper::LinkRenderer %>
  </div>
<% end %>
