<div class="container">
  <h1>Geolocator</h1>

  <div>
    <%= render 'search_form' %>
  </div>

  <h2>Location:</h2>
  <turbo-frame id="search_result">
  </turbo-frame>

  <h2>Saved locations:</h2>
  <div>
    <%= render 'locations_list', locations: @locations %>

    <turbo-frame id="more">
      <%= render 'load_more_button' %>
    </turbo-frame>
  </div>
</div>
