<div class="container">
  <h1>Geolocator</h1>

  <div>
    <%= render 'search_form' %>
  </div>

  <h2>Location:</h2>
  <turbo-frame id="search_result">
    <%= render 'locations_table', location: @location %>
<!--    <div id="map" data-controller="map" data-map-target="map" style="height: 500px;"></div>-->
  </turbo-frame>

  <h2>Saved locations:</h2>
  <div>
    <turbo-frame id="locations">
      <div class="pagination">
        <%= will_paginate @locations, renderer: RemoteLinkPaginationHelper::LinkRenderer %>
      </div>
      <%= render 'locations_table', locations: @locations %>
    </turbo-frame>
  </div>
</div>
