<%= turbo_stream.replace "search_result" do %>
  <%= render 'search_result', locals: { locations: @location, message: @message } %>
<% end %>

<% if @created %>
  <%= turbo_stream.prepend 'locations_content_frame' do %>
    <div class="row">
      <%= render partial: 'location_content', locals: { location: @location } %>
    </div>
  <% end %>
<% end %>
